//position定位 html footer, body利用margin空出高度
// 網頁資料過少時，讓footer維持在底部
html {
  min-height: 100%;
  position: relative;
}

body {
  /* footer 高度 */
  margin-bottom: 67px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;

  p {
    font-size: 12px;
    line-height: 14px;
    font-family: $font-secondary;
    color: #909090;

    @include md {
      font-size: 16px;
      line-height: 19px;
    }
  }
}